<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groups</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>Group-1</string>
			<key>units</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>Slot-1</string>
					<key>unit_transports</key>
					<array>
						<dict>
							<key>metadata</key>
							<dict>
								<key>virtualport</key>
								<string>xav://169.254.1.32:7801:uart_SoC</string>
							</dict>
							<key>url</key>
							<string>uart:///tmp/dev/DUT11</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>identifier</key>
					<string>Slot-2</string>
					<key>unit_transports</key>
					<array>
						<dict>
							<key>metadata</key>
							<dict>
								<key>virtualport</key>
								<string>xav://169.254.1.33:7801:uart_SoC</string>
							</dict>
							<key>url</key>
							<string>uart:///tmp/dev/DUT12</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>identifier</key>
					<string>Slot-3</string>
					<key>unit_transports</key>
					<array>
						<dict>
							<key>metadata</key>
							<dict>
								<key>virtualport</key>
								<string>xav://169.254.1.34:7801:uart_SoC</string>
							</dict>
							<key>url</key>
							<string>uart:///tmp/dev/DUT13</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>identifier</key>
					<string>Slot-4</string>
					<key>unit_transports</key>
					<array>
						<dict>
							<key>metadata</key>
							<dict>
								<key>virtualport</key>
								<string>xav://169.254.1.35:7801:uart_SoC</string>
							</dict>
							<key>url</key>
							<string>uart:///tmp/dev/DUT14</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>xavier_ip1</key>
			<string>169.254.1.32</string>
			<key>xavier_ip2</key>
			<string>169.254.1.33</string>
			<key>xavier_ip3</key>
			<string>169.254.1.34</string>
			<key>xavier_ip4</key>
			<string>169.254.1.35</string>
			<key>dockChannelSettingPort</key>
			<string>31336</string>
			<key>dockChannelSettingPath1</key>
			<string>/Users/gdlocal/Library/Logs/Atlas/active/group0-slot1/user/dockChannel_setting.txt</string>
			<key>dockChannelSettingPath2</key>
			<string>/Users/gdlocal/Library/Logs/Atlas/active/group0-slot2/user/dockChannel_setting.txt</string>
			<key>dockChannelSettingPath3</key>
			<string>/Users/gdlocal/Library/Logs/Atlas/active/group0-slot3/user/dockChannel_setting.txt</string>
			<key>dockChannelSettingPath4</key>
			<string>/Users/gdlocal/Library/Logs/Atlas/active/group0-slot4/user/dockChannel_setting.txt</string>
			<key>dockChannelPort</key>
			<string>31337</string>
			<key>dockChannelPath1</key>
			<string>/Users/gdlocal/Library/Logs/Atlas/active/group0-slot1/user/dockChannel.txt</string>
			<key>dockChannelPath2</key>
			<string>/Users/gdlocal/Library/Logs/Atlas/active/group0-slot2/user/dockChannel.txt</string>
			<key>dockChannelPath3</key>
			<string>/Users/gdlocal/Library/Logs/Atlas/active/group0-slot3/user/dockChannel.txt</string>
			<key>dockChannelPath4</key>
			<string>/Users/gdlocal/Library/Logs/Atlas/active/group0-slot4/user/dockChannel.txt</string>
			<key>eowyn_ip</key>
			<string>169.254.1.20</string>
			<key>eowynLogFolder</key>
			<string>/Users/gdlocal/Library/Logs/Suncode_log</string>
			<key>eowynLogPath</key>
			<string>/Users/gdlocal/Library/Logs/Suncode_log/eowyn</string>
		</dict>
	</array>
</dict>
</plist>
